# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\INFO5100Final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
